:root {
   /* sidebar */
  --sidebar-width: 300px;
  --sidebar-height: 100vh;
  --header-height: 100px;
  /* padding */
  --padding05: 4px;
  --padding: 8px;
  --padding2: 16px;
  /* theme */
  --background-light: #f8f9fa;
  --background-white: #ffffff;
  --background-green: #0cfc34;
  --text-muted: #888;
  --text-label: #818181;
  /* allowance for scrollbar */
  --scrollbar-width: 16px;
}