/**
 * task bar
 * !important overrides inline styles from Frappe Gantt
 */
.gantt-task-bar .bar {
  fill: #f7e6ff !important;
  stroke: none !important;
  rx: 6;
  ry: 6;
  transition: filter 0.2s ease, opacity 0.2s ease;
}

.gantt-task-bar .bar-progress {
  fill: #e6b3ff !important;
}

.gantt-task-bar:hover .bar,
.gantt-task-bar:hover .bar-progress {
  opacity: 1;
  filter: brightness(0.95);
  cursor: pointer;
}

/**
 * animation highlight for newly added task
 */
 .gantt-task-bar.gantt-task-bar-new .bar {
  stroke: orange !important;
  stroke-width: 3px !important;
  animation: taskBlink 1.5s ease-in-out 0s 3;
  animation-fill-mode: forwards;
}

@keyframes taskBlink {
  0% {
    stroke-opacity: 1;
  }

  50% {
    stroke-opacity: 0.2;
  }

  100% {
    stroke: var(--mui-palette-primary-dark, #125aa3);
    stroke-opacity: 1;
  }
}

/**
 * bar tex
 */
.gantt .bar-text {
  fill: #ffffff;
  font-weight: 500;
  font-size: 0.75rem;
  pointer-events: none;
}

/**
 * tooltip
 */
.gantt-tooltip {
  padding: 4px;
  max-width: 280px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  line-height: 1.5;
}

.gantt-tooltip-title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 4px;
}

.gantt-tooltip-progress {
  font-size: 0.875rem;
  color: var(--mui-palette-primary-dark, #125aa3);
  font-weight: 500;
  margin-bottom: 6px;
}

.gantt-tooltip-desc {
  font-size: 0.8rem;
  color: #666;
  white-space: normal;
}

/**
 * chart container
 */
.gantt-container {
  /* overflow-y: hidden; */
  max-height: 100%;
}

/**
 * chart
 */
.gantt {
  user-select: none;
  scrollbar-width: thin;
}

/**
 * grid lines and bg
 */
.gantt .grid .row .tick {
  stroke: #ccc;
}

.gantt .grid .row:nth-child(even) {
  fill: rgba(0, 0, 0, 0.025);
}

/**
 * vertical deadline line
 */
.gantt-deadline-line {
  stroke: red;
  stroke-width: 2.5;
  stroke-dasharray: 4;
  shape-rendering: crispEdges; /* improves pixel alignment */
  pointer-events: none;
}