.columnContainer {
  flex: 1;
  padding: var(--padding);
  border: 2px dashed #ccc;
  background-color: #f8f9fa;
  border-radius: 5px;
  text-align: center;
}

.column {
  width: 300px;
  min-height: 400px;
  text-align: center;
}
