.rangeCalendar {
  width: fit-content;
  max-width: 100%;
}

.rangeCalendarHeader {
  display: flex;
}

.calendarGrid {
  overflow: hidden;
}

.calendarGridHeader {
  font-weight: 600;
  font-size: large;
  color: var(--alendar-header-color);
}

.navButton {
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--calendar-accent-color);
  transition: background-color var(--calendar-transition-speed) ease-in-out;
}

.navButton:hover {
  background-color: var(--calendar-accent-hover);
}

.cell {
  text-align: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-weight: 500;
  border-radius: 0;
  transition: background-color var(--calendar-transition-speed) ease;
}

.cell[data-hovered]:not([data-selected]) {
  background-color: var(--calendar-accent-hover-not-selected);
}

.cell[data-selected] {
  background-color: var(--calendar-accent-color);
  color: white;
}

.cell[data-selection-start] {
  border-top-left-radius: var(--calendar-border-radius);
  border-bottom-left-radius: var(--calendar-border-radius);
}

.cell[data-selection-start]::before {
  content: '';
  position: absolute;
  left: calc(-0.5 * var(--calendar-knob-size));
  top: 50%;
  transform: translateY(-50%);
  width: var(--calendar-knob-size);
  height: var(--calendar-knob-size);
  border-radius: 50%;
  background-color: white;
  border: var(--calendar-knob-border);
  z-index: 2;
}

.cell[data-selection-end] {
  border-top-right-radius: var(--calendar-border-radius);
  border-bottom-right-radius: var(--calendar-border-radius);
}

.cell[data-selection-end]::after {
  content: '';
  position: absolute;
  right: calc(-0.5 * var(--calendar-knob-size));
  top: 50%;
  transform: translateY(-50%);
  width: var(--calendar-knob-size);
  height: var(--calendar-knob-size);
  border-radius: 50%;
  background-color: white;
  border: var(--calendar-knob-border);
  z-index: 2;
}

.cell[data-disabled],
.cell[data-unavailable] {
  opacity: var(--calendar-unavailable-opacity);
  pointer-events: none;
}
